.navbar {
    background-color: #42b883;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
  }
  
  .nav-links li a:hover {
    border-bottom: 2px solid #fff;
  }
  
  .grocery img {
    width: 50px;
    height: 50px;
  }
  
  /* Additional styles for the dropdown menu */
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0; /* Remove any default margin */
  }
  
  .open .dropdown {
    display: block;
  }
  
  .dropdown li {
    margin-right: 0; /* Remove the margin from the dropdown items */
  }
  
  .dropdown li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
  }
  
  .dropdown li a:hover {
    background-color: #f1f1f1;
  }
  