/* Example styles for the Home page */
.home-section {
    padding: 20px;
  }
  
  .hero {
    background-image: url('src/assets/images/background.jpg');
    background-size: cover;
    color: #fff;
    height:550px;
    padding: 50px;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 36px;
  }
  
  .hero p {
    font-size: 20px;
    margin-top: 20px;
  }
  
  /* Button styles */
  .btn {
    display: inline-block;
    background-color: #42b883;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #53ca91;
  }
  
  .btn:focus {
    outline: none;
  }
  